@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: .5rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.4);
}

/* Very simple CSS for tooltips in Tailwind.  Copied from: https://github.com/cosbgn/tailwindcss-tooltips */
/* .tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50
} */