@tailwind base;
@tailwind components;
@tailwind utilities;

/* Simple CSS to add line numbers to code. */
code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: .5rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: theme('colors.slate[300]');
  /* color: rgba(115, 138, 148, 0.4); */
}

#alert p {
  margin-bottom: 0;
}

/* Very simple CSS for tooltips in Tailwind.  Copied from: https://github.com/cosbgn/tailwindcss-tooltips */
.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50
}